html,body {
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#inv {
    background-color: rgb(39, 39, 39);
    border: 5px inset #ccc;
    padding: 10px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
    position: absolute;
  }
  
  #inv strong {
    font-size: 18px;
  }
  
  #inv p {
    margin: 0;
    padding: 5px 0;
  }
  
  .delete:hover {
    background-color: rgb(213, 235, 17);
    cursor: pointer;
  }
  
  .delete2:hover {
    background-color: rgb(213, 235, 17);
    cursor: pointer;
  }
  